Xft.dpi: 170
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! urxvt
URxvt.perl-ext-common: clipboard
URxvt.font: xft:mono:pixelsize=24:antialias:true:autohint:true, xft:Noto Emoji:pixelsize=24
URxvt.scrollBar: false
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.letterSpace: true
! Base16 Default Dark
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

*.foreground:   base05
*.cursorColor:  base05
#ifdef background_opacity
  *.background:   [background_opacity]base00
#else
  *.background:   base00
#endif

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06


! Monokai
! exported from https://terminal.sexy
! special
! *.foreground:   #f8f8f0
! *.background:   #262626
! *.cursorColor:  #f8f8f2
!
! ! black
! *.color0:       #272822
! *.color8:       #75715e
!
! ! red
! *.color1:       #f92672
! *.color9:       #f92672
!
! ! green
! *.color2:       #a6e22e
! *.color10:      #a6e22e
!
! ! yellow
! *.color3:       #f4bf75
! *.color11:      #f4bf75
!
! ! blue
! *.color4:       #66d9ef
! *.color12:      #66d9ef
!
! ! magenta
! *.color5:       #ae81ff
! *.color13:      #ae81ff
!
! ! cyan
! *.color6:       #a1efe4
! *.color14:      #a1efe4
!
! ! white
! *.color7:       #f8f8f2
! *.color15:      #f9f8f5
